 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }


    /* side bar */
    body,html{
      height: 100%;
    }

    nav.sidebar, .main{
      -webkit-transition: margin 200ms ease-out;
        -moz-transition: margin 200ms ease-out;
        -o-transition: margin 200ms ease-out;
        transition: margin 200ms ease-out;
    }

    .main{
      padding: 10px 10px 0 10px;
    }

   @media (min-width: 765px) {

      .main{
        position: absolute;
        width: calc(100% - 40px); 
        margin-left: 40px;
        float: right;
      }

      nav.sidebar:hover + .main{
        margin-left: 200px;
      }

      nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
      }

      nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
      }
      
      nav.sidebar a{
        padding-right: 13px;
      }

      nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #e5e5e5 solid;
      }

      nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
      }

      nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
      }

      .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
      }

      nav.sidebar{
        width: 200px;
        height: 100%;
        margin-left: -160px;
        float: left;
        margin-bottom: 0px;
      }

      nav.sidebar li {
        width: 100%;
      }

      nav.sidebar:hover{
        margin-left: 0px;
      }

      .forAnimate{
        opacity: 0;
      }
    }
     
    @media (min-width: 1330px) {

      .main{
        width: calc(100% - 200px);
        margin-left: 200px;
      }

      nav.sidebar{
        margin-left: 0px;
        float: left;
      }

      nav.sidebar .forAnimate{
        opacity: 1;
      }
    }

    nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
      color: #CCC;
      background-color: transparent;
    }

    nav:hover .forAnimate{
      opacity: 1;
    }
    section{
      padding-left: 15px;
    }
  