<div class="row" >
	<h3 style="text-align: center;">Porcentaje por Medicos de Especialidad</h3>
	<div class="col-md-8">
		<div id="canvas-holder" style="width:90%;">
			<canvas id="porcentaje_medicos_x_especialidad" width="500" height="350"></canvas>
		</div>
	</div>
</div>